.container {
    width: 80%;
    max-width: 400px;
    height: 70vh;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #eee;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
body{
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    background-repeat: repeat;
    background-size: 500px 500px;
}

h2 {
    font-size: 34px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    padding: 10px 0;
    font-size: 30px;
}

.header p {
    margin: 0;
    padding-bottom: 10px;
    font-size: 14px;
    color: #f0f0f0;
}

.list {
    height: 63%;
    overflow-y: auto;
}

.list-item {
    font-size: 18px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
}

input[type="checkbox"] {
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

input[type="checkbox"]:checked {
    accent-color: #4CAF50;
}

input[type="text"] {
    flex: 1;
    margin-right: 10px;
    padding: 5px;
    background: none;
    border: none;
    border-bottom: 1px solid #ddd;
}
input[type="text"]:focus {
    outline: none;
    border-bottom: 2px solid #4CAF50;
}

.item_settings {
    margin-left: auto;
}

.delete {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.edit {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

button {
    padding: 10px 15px;
    height: 45px;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


p {
    text-align: center;
    margin-top: 20px;
    color: #888;
}

hr {
    border: 1px solid #b7b7b7;
    width: 90%;
}

.card{
    min-height: 300px;
    min-width: 300px;
    height: 40vh;
    width: 20vw;
    background-color: #fafafa;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
}

#setup {
    display: none;
}

#login{
    display: none;
}

.darkener {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: none;
}

#list_name, #list_name_change {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
}

#list_name:focus {
    outline: none;
    border-bottom: 2px solid #4CAF50;
}

.card p {
    text-align: left;
    margin-left: 10px;
    color: #000;
    margin-top: 30px;
}

.note {
    font-size: 12px;
    color: #888;
}

.card input[type="password"] {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
}

.card input[type="password"]:focus {
    outline: none;
    border-bottom: 2px solid #454545;
}

.card button {
    margin-top: 40px;
    width: 100%;
    height: 40px;
    background-color: #454545;
}
.card button:hover {
    background-color: #333;
}

.card h2 {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

.footer_button{
    height: 25px;
    width: 25px;
    margin-top: 20px;
}

.list_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
}

.footer_option {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.footer_option span {
    margin-top: 15px;
}

#share {
    display: none;
}

#share input[type="text"] {
    width: 100%;
}

#settings{
    min-height: 300px;
    height: auto;
    display: none;
}

#error {
    display: none;
    flex-direction: column;
    align-items: center;
}

#error h2 {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}

#error img {
    width: 120px;
    height: 90px;
}

#error p {
    font-size: 16px;
    color: #555;
    text-align: center;
    margin-top: 10px;
}

#change_password_text {
    font-weight: bold;
}
